@font-face {
    font-family: 'Open Sans';
    src: url(./static/fonts/Lora-Regular.ttf) format('truetype');
}

// https://rosepinetheme.com/palette/

body {
    font-family: 'Open Sans', Lora-Regular;
    background-color: #faf4ed;
}
